In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import PowerTransformer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50
## Install xlrd package to load Excel files
# conda install openpyxl
## conda install xlrd

In [26]:
df = pd.read_csv("Data_Marketing_Customer_Analysis_Round3.csv")
df.head()

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize

### Only using numeric values

In [27]:
df = df.select_dtypes(include=np.number)

In [28]:
df

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809,48029,61,7,52,0,9,292
1,2228,92260,64,3,26,0,1,744
2,14947,22139,100,34,31,0,2,480
3,22332,49078,97,10,3,0,2,484
4,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...
10684,15563,61541,253,12,40,0,7,1214
10685,5259,61146,65,7,68,0,6,273
10686,23893,39837,201,11,63,0,2,381
10687,11971,64195,158,0,27,4,6,618
10688,6857,68942,101,31,1,0,3,1021

### Doing X-y split (y is the target variable, which is the total claim amount)

In [29]:
y = df.total_claim_amount

In [31]:
X  =  df.drop(columns=["total_claim_amount"])

In [32]:
X

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,4809,48029,61,7,52,0,9
1,2228,92260,64,3,26,0,1
2,14947,22139,100,34,31,0,2
3,22332,49078,97,10,3,0,2
4,9025,23675,117,33,31,0,7
...,...,...,...,...,...,...,...
10684,15563,61541,253,12,40,0,7
10685,5259,61146,65,7,68,0,6
10686,23893,39837,201,11,63,0,2
10687,11971,64195,158,0,27,4,6
10688,6857,68942,101,31,1,0,3

### Doing the Train-test split

In [33]:
TT_RATIO = 0.3 #test/train
RAND_STATE = 34 #for reproducible shuffling

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TT_RATIO, random_state=RAND_STATE)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)
X_train.head(3)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
2705,4786,45515,61,10,33,0,9
2209,22445,80340,71,32,35,0,2
4004,6412,58776,83,20,50,2,4

### Standardizing the data (after the data split)

#### Power Transformer: we use a power transformer to remove the skew and rescale the data to have zero mean and unit variance. It improves modeling errors in linear regression.

In [39]:
help(ColumnTransformer)

Help on class ColumnTransformer in module sklearn.compose._column_transformer:

class ColumnTransformer(sklearn.base.TransformerMixin, sklearn.utils.metaestimators._BaseComposition)
 |  ColumnTransformer(transformers, *, remainder='drop', sparse_threshold=0.3, n_jobs=None, transformer_weights=None, verbose=False, verbose_feature_names_out=True)
 |
 |  Applies transformers to columns of an array or pandas DataFrame.
 |
 |  This estimator allows different columns or column subsets of the input
 |  to be transformed separately and the features generated by each transformer
 |  will be concatenated to form a single feature space.
 |  This is useful for heterogeneous or columnar data, to combine several
 |  feature extraction mechanisms or transformations into a single transformer.
 |
 |  Read more in the :ref:`User Guide <column_transformer>`.
 |
 |  .. versionadded:: 0.20
 |
 |  Parameters
 |  ----------
 |  transformers : list of tuples
 |      List of (name, transformer, columns) tuples specifying the
 |      transformer objects to be applied to subsets of the data.
 |
 |      name : str
 |          Like in Pipeline and FeatureUnion, this allows the transformer and
 |          its parameters to be set using ``set_params`` and searched in grid
 |          search.
 |      transformer : {'drop', 'passthrough'} or estimator
 |          Estimator must support :term:`fit` and :term:`transform`.
 |          Special-cased strings 'drop' and 'passthrough' are accepted as
 |          well, to indicate to drop the columns or to pass them through
 |          untransformed, respectively.
 |      columns :  str, array-like of str, int, array-like of int,                 array-like of bool, slice or callable
 |          Indexes the data on its second axis. Integers are interpreted as
 |          positional columns, while strings can reference DataFrame columns
 |          by name.  A scalar string or int should be used where
 |          ``transformer`` expects X to be a 1d array-like (vector),
 |          otherwise a 2d array will be passed to the transformer.
 |          A callable is passed the input data `X` and can return any of the
 |          above. To select multiple columns by name or dtype, you can use
 |          :obj:`make_column_selector`.
 |
 |  remainder : {'drop', 'passthrough'} or estimator, default='drop'
 |      By default, only the specified columns in `transformers` are
 |      transformed and combined in the output, and the non-specified
 |      columns are dropped. (default of ``'drop'``).
 |      By specifying ``remainder='passthrough'``, all remaining columns that
 |      were not specified in `transformers` will be automatically passed
 |      through. This subset of columns is concatenated with the output of
 |      the transformers.
 |      By setting ``remainder`` to be an estimator, the remaining
 |      non-specified columns will use the ``remainder`` estimator. The
 |      estimator must support :term:`fit` and :term:`transform`.
 |      Note that using this feature requires that the DataFrame columns
 |      input at :term:`fit` and :term:`transform` have identical order.
 |
 |  sparse_threshold : float, default=0.3
 |      If the output of the different transformers contains sparse matrices,
 |      these will be stacked as a sparse matrix if the overall density is
 |      lower than this value. Use ``sparse_threshold=0`` to always return
 |      dense.  When the transformed output consists of all dense data, the
 |      stacked result will be dense, and this keyword will be ignored.
 |
 |  n_jobs : int, default=None
 |      Number of jobs to run in parallel.
 |      ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
 |      ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
 |      for more details.
 |
 |  transformer_weights : dict, default=None
 |      Multiplicative weights for features per transformer. The output of the
 |      transformer is multiplied by these weights. Keys are transformer names,
 |      values the weights.
 |
 |  verbose : bool, default=False
 |      If True, the time elapsed while fitting each transformer will be
 |      printed as it is completed.
 |
 |  verbose_feature_names_out : bool, default=True
 |      If True, :meth:`get_feature_names_out` will prefix all feature names
 |      with the name of the transformer that generated that feature.
 |      If False, :meth:`get_feature_names_out` will not prefix any feature
 |      names and will error if feature names are not unique.
 |
 |      .. versionadded:: 1.0
 |
 |  Attributes
 |  ----------
 |  transformers_ : list
 |      The collection of fitted transformers as tuples of
 |      (name, fitted_transformer, column). `fitted_transformer` can be an
 |      estimator, 'drop', or 'passthrough'. In case there were no columns
 |      selected, this will be the unfitted transformer.
 |      If there are remaining columns, the final element is a tuple of the
 |      form:
 |      ('remainder', transformer, remaining_columns) corresponding to the
 |      ``remainder`` parameter. If there are remaining columns, then
 |      ``len(transformers_)==len(transformers)+1``, otherwise
 |      ``len(transformers_)==len(transformers)``.
 |
 |  named_transformers_ : :class:`~sklearn.utils.Bunch`
 |      Read-only attribute to access any transformer by given name.
 |      Keys are transformer names and values are the fitted transformer
 |      objects.
 |
 |  sparse_output_ : bool
 |      Boolean flag indicating whether the output of ``transform`` is a
 |      sparse matrix or a dense numpy array, which depends on the output
 |      of the individual transformers and the `sparse_threshold` keyword.
 |
 |  output_indices_ : dict
 |      A dictionary from each transformer name to a slice, where the slice
 |      corresponds to indices in the transformed output. This is useful to
 |      inspect which transformer is responsible for which transformed
 |      feature(s).
 |
 |      .. versionadded:: 1.0
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`. Only defined if the
 |      underlying transformers expose such an attribute when fit.
 |
 |      .. versionadded:: 0.24
 |
 |  See Also
 |  --------
 |  make_column_transformer : Convenience function for
 |      combining the outputs of multiple transformer objects applied to
 |      column subsets of the original feature space.
 |  make_column_selector : Convenience function for selecting
 |      columns based on datatype or the columns name with a regex pattern.
 |
 |  Notes
 |  -----
 |  The order of the columns in the transformed feature matrix follows the
 |  order of how the columns are specified in the `transformers` list.
 |  Columns of the original feature matrix that are not specified are
 |  dropped from the resulting transformed feature matrix, unless specified
 |  in the `passthrough` keyword. Those columns specified with `passthrough`
 |  are added at the right to the output of the transformers.
 |
 |  Examples
 |  --------
 |  >>> import numpy as np
 |  >>> from sklearn.compose import ColumnTransformer
 |  >>> from sklearn.preprocessing import Normalizer
 |  >>> ct = ColumnTransformer(
 |  ...     [("norm1", Normalizer(norm='l1'), [0, 1]),
 |  ...      ("norm2", Normalizer(norm='l1'), slice(2, 4))])
 |  >>> X = np.array([[0., 1., 2., 2.],
 |  ...               [1., 1., 0., 1.]])
 |  >>> # Normalizer scales each row of X to unit norm. A separate scaling
 |  >>> # is applied for the two first and two last elements of each
 |  >>> # row independently.
 |  >>> ct.fit_transform(X)
 |  array([[0. , 1. , 0.5, 0.5],
 |         [0.5, 0.5, 0. , 1. ]])
 |
 |  Method resolution order:
 |      ColumnTransformer
 |      sklearn.base.TransformerMixin
 |      sklearn.utils.metaestimators._BaseComposition
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, transformers, *, remainder='drop', sparse_threshold=0.3, n_jobs=None, transformer_weights=None, verbose=False, verbose_feature_names_out=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit all transformers using X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, dataframe} of shape (n_samples, n_features)
 |          Input data, of which specified subsets are used to fit the
 |          transformers.
 |
 |      y : array-like of shape (n_samples,...), default=None
 |          Targets for supervised learning.
 |
 |      Returns
 |      -------
 |      self : ColumnTransformer
 |          This estimator.
 |
 |  fit_transform(self, X, y=None)
 |      Fit all transformers, transform the data and concatenate results.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, dataframe} of shape (n_samples, n_features)
 |          Input data, of which specified subsets are used to fit the
 |          transformers.
 |
 |      y : array-like of shape (n_samples,), default=None
 |          Targets for supervised learning.
 |
 |      Returns
 |      -------
 |      X_t : {array-like, sparse matrix} of                 shape (n_samples, sum_n_components)
 |          Horizontally stacked results of transformers. sum_n_components is the
 |          sum of n_components (output dimension) over transformers. If
 |          any result is a sparse matrix, everything will be converted to
 |          sparse matrices.
 |
 |  get_feature_names(self)
 |      DEPRECATED: get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
 |
 |      Get feature names from all transformers.
 |
 |          Returns
 |          -------
 |          feature_names : list of strings
 |              Names of the features produced by transform.
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Input features.
 |
 |          - If `input_features` is `None`, then `feature_names_in_` is
 |            used as feature names in. If `feature_names_in_` is not defined,
 |            then names are generated: `[x0, x1, ..., x(n_features_in_)]`.
 |          - If `input_features` is an array-like, then `input_features` must
 |            match `feature_names_in_` if `feature_names_in_` is defined.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Transformed feature names.
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Returns the parameters given in the constructor as well as the
 |      estimators contained within the `transformers` of the
 |      `ColumnTransformer`.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **kwargs)
 |      Set the parameters of this estimator.
 |
 |      Valid parameter keys can be listed with ``get_params()``. Note that you
 |      can directly set the parameters of the estimators contained in
 |      `transformers` of `ColumnTransformer`.
 |
 |      Parameters
 |      ----------
 |      **kwargs : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : ColumnTransformer
 |          This estimator.
 |
 |  transform(self, X)
 |      Transform X separately by each transformer, concatenate results.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, dataframe} of shape (n_samples, n_features)
 |          The data to be transformed by subset.
 |
 |      Returns
 |      -------
 |      X_t : {array-like, sparse matrix} of                 shape (n_samples, sum_n_components)
 |          Horizontally stacked results of transformers. sum_n_components is the
 |          sum of n_components (output dimension) over transformers. If
 |          any result is a sparse matrix, everything will be converted to
 |          sparse matrices.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  named_transformers_
 |      Access the fitted transformer by name.
 |
 |      Read-only attribute to access any transformer by given name.
 |      Keys are transformer names and values are the fitted transformer
 |      objects.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from sklearn.utils.metaestimators._BaseComposition:
 |
 |  __annotations__ = {'steps': typing.List[typing.Any]}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)

In [36]:
pt = PowerTransformer()
ct = ColumnTransformer([("pt", pt, list(X.columns))],
                        remainder='drop',verbose_feature_names_out=True,verbose=True).fit(X_train)
X_train_ct = pd.DataFrame(ct.transform(X_train),columns=ct.get_feature_names_out())
X_test_ct = pd.DataFrame(ct.transform(X_test),columns=ct.get_feature_names_out())

[ColumnTransformer] ............ (1 of 1) Processing pt, total=   0.1s

In [37]:
X_train = pd.DataFrame(X_train_ct)
X_test_ct

,pt__customer_lifetime_value,pt__income,pt__monthly_premium_auto,pt__months_since_last_claim,pt__months_since_policy_inception,pt__number_of_open_complaints,pt__number_of_policies
0,0.649823,-0.633250,0.960690,0.582646,-0.033143,-0.502522,1.660057
1,-0.499110,0.552571,0.915092,0.415591,0.588851,-0.502522,-1.143833
2,-0.477937,0.364965,0.891527,-0.830609,0.557616,-0.502522,-1.143833
3,-0.664449,-1.480107,-1.453068,0.971550,1.070851,1.947236,0.513168
4,1.825591,-1.264602,-0.643882,0.971550,-0.428756,-0.502522,-0.063268
...,...,...,...,...,...,...,...
3202,0.510696,0.842343,-0.932776,-0.968850,0.103386,-0.502522,-0.063268
3203,0.543247,-0.936795,-0.513634,0.055807,-0.244875,-0.502522,-0.063268
3204,0.309956,1.331340,0.241171,1.328120,1.329338,-0.502522,1.311711
3205,-1.338693,0.817804,-0.513634,-0.243334,1.012270,2.046916,-1.143833
3206,-1.682370,-0.758519,-1.453068,-0.968850,-0.581663,-0.502522,-1.143833

### Applying linear regression

In [38]:
X_train_const_ct = sm.add_constant(X_train_ct.to_numpy()) # adding a constant

model = sm.OLS(y_train, X_train_const_ct).fit()
predictions_train = model.predict(X_train_const_ct)

X_test_const_ct = sm.add_constant(X_test_ct) # adding a constant
predictions_test = model.predict(X_test_const_ct)
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.315
Model:                            OLS   Adj. R-squared:                  0.314
Method:                 Least Squares   F-statistic:                     490.3
Date:                Tue, 31 Jan 2023   Prob (F-statistic):               0.00
Time:                        17:19:25   Log-Likelihood:                -51659.
No. Observations:                7482   AIC:                         1.033e+05
Df Residuals:                    7474   BIC:                         1.034e+05
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        435.8295      2.790    156.232      0.000     430.361     441.298
x1            -0.4473      3.756     -0.119      0.905      -7.811       6.916
x2           -33.2629      2.791    -11.917      0.000     -38.734     -27.791
x3           160.1947      3.308     48.426      0.000     153.710     166.679
x4             3.2527      2.793      1.164      0.244      -2.223       8.728
x5             1.1013      2.793      0.394      0.693      -4.375       6.577
x6            -2.3545      2.790     -0.844      0.399      -7.825       3.116
x7            -1.3034      3.319     -0.393      0.695      -7.810       5.203
==============================================================================
Omnibus:                     1664.976   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9101.882
Skew:                           0.958   Prob(JB):                         0.00
Kurtosis:                       8.052   Cond. No.                         2.25
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Model Interpretation